.menu__header_back {
  color: #42526e;
  padding: 0;
  position: absolute;
  left: 0;
  transform: translateX(0);
  font-size: 18px;
  transition: color .1s ease-in-out, transform .12s ease-in-out;

  &.hidden {
    transform: translateX(-25px);
    user-select: none;
  }

  &:hover {
    color: #091e42;
  }
}