.modal__card_info_actions_comment_comment {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}
.modal__card_info_actions_comment_comment_avatar_section {
  width: 8%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 92%;
  margin-top: 2px;
  line-break: anywhere;
}
.comment__time {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.comment__time_username {
  color: #172b4d;
  font-weight: 700;
}
.comment__created_time {
  font-size: 12px;
  margin-left: 5px;
  font-weight: 500;
  color: #5e6c84;

  span:nth-child(2) {
    margin-left: 4px;
  }
}
.comment__value {
  padding: 12px;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  background-color: #fff;
  border-radius: 3px;
  margin-top: 5px;
}
.comment__actions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;

  button {
    font-size: 12px;
    font-weight: 500;
    background-color: transparent;
    text-decoration: underline;
    color: #5e6c84;

    &:hover {
      background-color: transparent;
      color: #172b4d;
    }
  }

  span {
    color: #5e6c84;
  }
}
.comment__edit {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 8px 12px;
  margin-top: 5px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 8px -2px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);

  textarea {
    width: 100%;
    min-height: 20px;
    font-size: 14px;
    resize: none;
    border: none;
    outline: none;
    padding: 0;
  }
}
.comment__edit_actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 13px;
}
.comment__edit_save {
  background-color: #5bac44;
  padding: 8px 10px;
  margin-top: auto;
  margin-left: 1px;
  color: white;

  &:hover {
    background-color: #5bac44d2;
  }

  &.disabled {
    cursor: not-allowed;
    user-select: none;
    background-color: rgba(9,30,66,.04);
    color: #a5adba;

    &:hover {
      background-color: rgba(9,30,66,.04);
    }
  }
}
.comment__edit_close {
  color: #42526e;
  font-size: 20px;
  margin-left: 5px;

  &:hover {
    color: #172b4d;
  }
}
