.menu {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(350px);
  width: 350px;
  z-index: 10;
  background-color: #f4f5f7;
  box-shadow: 0 12px 24px -6px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
  height: 100%;
  overflow: auto;
  transition: transform .3s ease-in-out;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(9,30,66,.08);
  }
  &::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,0%,.15);
  }

  &.open {
    transform: translateX(0);
  }
}
.menu__wrapper {
  width: 92%;
  margin: 0 auto;
}
.menu__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menu__header {
  width: 100%;
  padding: 15px 0 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px rgba(9,30,66,.13) solid;
}
.menu__header_heading {
  color: #42526e;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.menu__header_close {
  color: #42526e;
  padding: 0;
  position: absolute;
  right: 0;
  font-size: 18px;
  transition: color .1s ease-in-out;

  &:hover {
    color: #091e42;
  }
}
.menu__body {
  padding: 15px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

@media only screen and (max-width: 350px) {
  .menu {
    width: 100%;
  }
}
