.menu {
  position: absolute;
  right: -29%;
  top: 0;
  width: 350px;
  z-index: 10;
  background-color: #f4f5f7;
  box-shadow: 0 12px 24px -6px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
  height: 100%;
  overflow: auto;
  transition: right .3s ease-in-out;

  &.open {
    right: 0;
  }

  &.hide {
    right: -29%;
  }
}
.menu__wrapper {
  width: 90%;
  margin: 0 auto;
}
.menu__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menu__header {
  width: 100%;
  padding: 15px 0 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px rgba(9,30,66,.13) solid;
}
.menu__header_heading {
  color: #42526e;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.menu__header_back {
  color: #42526e;
  padding: 0;
  position: absolute;
  left: 0;
  font-size: 18px;
  transition: color .1s ease-in-out;

  &:hover {
    color: #091e42;
  }
}
.menu__header_close {
  color: #42526e;
  padding: 0;
  position: absolute;
  right: 0;
  font-size: 18px;
  transition: color .1s ease-in-out;

  &:hover {
    color: #091e42;
  }
}
.menu__body {
  width: 100%;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu__backgrounds_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menu__backgrounds {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.menu__background {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 4px;
  cursor: pointer;
}
.menu__background_image {
  width: 100%;
  height: 100px;
  border-radius: 8px;
  background-size: cover;
  transition: opacity .2s ease-in-out;

  &:hover {
    opacity: .7;
  }
}
.menu__background_add_image {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #42526e;
  font-size: 24px;
  width: 100%;
  height: 100px;
  border-radius: 8px;
  background-color: rgba(9,30,66,.04);
  cursor: pointer;
  transition: opacity .2s ease-in-out;

  input {
    display: none;
  }

  &:hover {
    opacity: .7;
  }
}
.menu__background_title {
  margin-top: 8px;
  color: #172b4d;
  width: 100%;
  line-height: 20px;
  text-align: center;
}
.menu__backgrounds_delete_image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  background-color: rgba(9,30,66,.04);
  padding: 6px 0;
  margin-top: 15px;
  transition: background-color .1s ease-in-out, color .1s ease-in-out;

  &:hover {
    background-color: rgba(9,30,66,.08);
  }

  &:active {
    background-color: #e4f0f6;
    color: #0079bf;
  }
}

.menu__color {
  width: 45%;
  height: 96px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 8px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media only screen and (max-width: 1000px) {
  .menu {
    right: -38%;

    &.hide {
      right: -38%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .menu {
    right: -43%;

    &.hide {
      right: -43%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .menu {
    right: -50%;

    &.hide {
      right: -50%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .menu {
    right: -55%;

    &.hide {
      right: -55%;
    }
  }
}

@media only screen and (max-width: 632px) {
  .menu {
    right: -62%;

    &.hide {
      right: -62%;
    }
  }
}

@media only screen and (max-width: 562px) {
  .menu {
    right: -70%;

    &.hide {
      right: -70%;
    }
  }
}

@media only screen and (max-width: 506px) {
  .menu {
    right: -80%;

    &.hide {
      right: -80%;
    }
  }
}

@media only screen and (max-width: 462px) {
  .menu {
    right: -90%;

    &.hide {
      right: -90%;
    }
  }
}

@media only screen and (max-width: 392px) {
  .menu {
    right: -100%;

    &.hide {
      right: -100%;
    }
  }
}

@media only screen and (max-width: 350px) {
  .menu {
    width: 100%;
  }
}
