/* close */

.modal__close {
  position: absolute;
  right: 1%;
  top: 1%;
  width: 32px;
  height: 32px;
  color: #42526e;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .3s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: rgba(9,30,66,.08);
  }

  &:active {
    background-color: rgba(9,30,66,.25);
  }
}

/* details */

.modal__card_details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 70%;
  padding-left: 16px;
}
.modal__card_detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;

  &:not(:nth-child(1)) {
    margin-top: 25px;
  }
}
.modal__card_detail_icon {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #42526e;
  font-size: 18px;
  width: 32px;
}
.modal__card_detail_content {
  padding-left: 40px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.modal__card_detail_header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 1px;
}
.modal__card_detail_heading {
  font-size: 16px;
  font-weight: 600;
  color: #42526e;
}
.modal__card_detail_main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.modal__card_section {
  position: relative;
  padding-left: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.modal__card_name_detail_form {
  width: 100%;

  input {
    width: 100%;
    outline: none;
    border-radius: 3px;
    box-sizing: border-box;
    border: 2px solid #1152c2;
    padding: 2px 6px;
  }
}
.modal__card_name_detail_heading {
  font-size: 18px !important;
  font-weight: 700 !important;
  cursor: pointer;
  width: 100%;
  line-break: anywhere;
}
.modal__card_name_detail_column_name {
  color: #5e6c84;
  margin-top: 7px;
}
.modal__card_labels {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 30px;
}
.modal__card_labels_heading {
  color: #5e6c84;
  font-size: 14px;
  font-weight: 700;
}
.modal__card_labels_container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 8px;
}
.modal__card_label {
  min-width: 20px;
  max-width: 100%;
  padding: 0 10px;
  height: 32px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px 4px 0;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
.modal__card_label_value {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}


.modal__card_description_details {
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 500;
  line-break: anywhere;
  color: #42526e;
  font-size: 16px;
}
.modal__card_description_details_button {
  margin-top: 10px;
  width: 100%;
  background-color: rgba(9,30,66,.04);
  color: #172b4d;
  text-align: left;
  padding: 10px 10px 30px;

  &:hover {
    background-color: rgba(9,30,66,.08);
  }

  &:active {
    background-color: #e4f0f6;
    color: #0079bf;
  }
}
.modal__card_description_details_form {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px 60px;
    outline: none;
    resize: none;
    border-radius: 3px;
    border: none;

    &:focus {
      box-shadow: inset 0 0 0 2px #0079bf;
    }
  }
}
.modal__card_description_details_form_actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  width: 100%;
}
.modal__card_description_details_form_actions_save {
  background-color: #5aac44;
  padding: 8px 10px;
  color: #fff;
  transition: background-color .1s ease-in-out;

  &:hover {
    background-color: #61bd4f;
  }

  &:active {
    background-color: #49852e;
  }
}
.modal__card_description_details_form_actions_close {
  font-size: 22px;
  color: #42526e;
  margin-left: 5px;
  transition: color .2s ease-in-out;

  &:hover {
    color: #172b4d;
  }
}

.modal__card_comments {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 25px;
}
.modal__card_comments_details_container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  &:not(:nth-child(1)) {
    margin-top: 15px;
  }
}
.modal__card_comments_avatar {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__card_comments_create_form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 8px 12px;
  height: 82px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 8px -2px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
  transition: height .2s ease-in-out;

  &.hide {
    height: 20px;
  }

  &.hide textarea:hover {
    cursor: pointer;
  }

  &.hide button {
    display: none;
  }

  textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 20px;
    font-size: 14px;
    resize: none;
    border: none;
    outline: none;
    padding: 0;
  }
}
.modal__card_comments_create_save {
  background-color: #5bac44;
  padding: 8px 10px;
  margin-top: auto;
  color: white;
  margin-left: 0.5px;
  transition: background-color .1s ease-in-out;

  &:hover {
    background-color: #5bac44d2;
  }

  &.disabled {
    cursor: not-allowed;
    user-select: none;
    background-color: rgba(9,30,66,.04);
    color: #a5adba;

    &:hover {
      background-color: rgba(9,30,66,.04);
    }
  }
}

.modal__card_checklists {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal__card_checklist_container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}


/* upgrades */

.modal__card_upgrades_menu {
  width: 22.2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 41px;
  padding-right: 16px;
}
.modal__card_upgrades {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal__card_upgrade_heading {
  text-transform: uppercase;
  color: #5e6c84;
  width: 100%;
  font-size: 12px;
  text-align: left;
  font-weight: 700;
}
.modal__card_upgrade_button {
  color: #5e6c84;
  display: flex;
  align-items: center;
  margin-top: 8px;
  justify-content: flex-start;
  padding: 9px;
  width: 100%;
  background-color: rgba(9,30,66,.04);
  outline: none;
  border-radius: 3px;
  border: none;

  p {
    margin-left: 10px;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(9,30,66,.08);
  }

  &:active {
    background-color: #e4f0f6;
    color: #0079bf;
  }
}

/* popover */

.popover__subheading {
  color: #5e6c84;
  font-weight: 700;
  font-size: 14px;
}

/* popover labels */

.popover__labels {
  margin-top: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.popover__labels_subheading {
  margin-top: 16px;
}
.popover__label_create_button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background-color: rgba(9,30,66,.04);
  color: #172b4d;
  margin-top: 15px;

  &:hover {
    background-color: rgba(9,30,66,.08);
  }

  &:active {
    color: #0079bf;
    background-color: #e4f0f6;
  }
}

/* editing label popover */

.popover__label_editing_name_section {
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  input {
    width: 100%;
    margin-top: 5px;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    background-color: #fafbfc;
    border-radius: 3px;
    outline: none;
    padding: 8px 12px;
    box-sizing: border-box;
    border: none;
    display: block;
    color: #172b4d;
    transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:hover {
      background-color: #ebecf0;
      box-shadow: inset 0 0 0 2px #dfe1e6;
    }

    &:focus {
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
    }
  }
}
.popover__label_editing_color_section {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  h5 {
    color: #5e6c84;
    font-weight: 700;
    font-size: 14px;
  }
}
.popover__label_editing_colors {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 5px;
}
.popover__label_editing_color {
  position: relative;
  width: 48px;
  margin: 0 6px 6px 0;
  height: 32px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
  }
}
.popover__label_editing_color_active {
  position: absolute;
  color: white;
  font-size: 12px;
}
.popover__label_editing_actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;

  button {
    color: white;
    padding: 7px 24px;
    transition: background-color .2s ease-in-out;
  }
}
.popover__label_editing_actions_save {
  background-color: #5aac44;

  &:hover {
    background-color: #61bd4f;
  }

  &:active {
    background-color: #49852e;
  }
}
.popover__label_editing_actions_delete {
  background-color: #cf513d;

  &:hover {
    background-color: #eb5a46;
  }

  &:active {
    background-color: #933b27;
  }
}

/* popover cover */

.popover__cover_types {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
}
.popover__cover_subheading {
  margin-top: 7px;
}
.popover__cover_type {
  border-radius: 3px;
  position: relative;
  width: 130px;
  height: 62px;
  border: 1px solid rgba(9,30,66,.08);

  &:nth-child(2) {
    & > div {
      height: 100%;
      width: 100%;
      opacity: .3;
      position: relative;
    }
  }

  &.active {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0079bf;

    &:hover {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px #5ba4cf;
    }

    &:active {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px #055a8c;
    }
  }
}

.type1__header {
  height: 28px;
  border-radius: 3px 3px 0 0;
  background-color: #5e6c84;
}
.type1__body {
  padding: 6px 4px 4px 6px;
  position: relative;
}
.type1__text1 {
  height: 4px;
  border-radius: 2px;
  width: 98%;
  background-color: #5e6c84;
}
.type1__text2 {
  height: 4px;
  border-radius: 2px;
  width: 75%;
  margin-top: 4px;
  background-color: #5e6c84;
}
.type1__footer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 6px;

  div:nth-child(1),
  div:nth-child(2){
    width: 16px;
    height: 6px;
    border-radius: 2px;
    margin-right: 2px;
    background-color: #5e6c84;
  }
}
.type1__button {
  background-color: #5e6c84;
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  margin: 0;
}

.type2__body {
  position: absolute;
  bottom: 4px;
  padding: 6px 4px 4px 6px;
}
.type2_text1 {
  background-color: #fff;
  opacity: 1;
  width: 116px;
  height: 4px;
  border-radius: 2px;
}
.type2_text2 {
  background-color: #fff;
  opacity: 1;
  width: 92px;
  margin-top: 4px;
  height: 4px;
  border-radius: 2px;
}

.popover__cover_clear {
  margin-top: 8px;
  width: 100%;
  border-radius: 3px;
  padding: 6px 12px;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(9,30,66,.04);
  color: #172b4d;
  line-height: 20px;

  &:hover {
    background-color: rgba(9,30,66,.08);
  }

  &:active {
    color: #0079bf;
    background-color: #e4f0f6;
  }
}

.popover__cover_colors {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 7px;
}
.popover__cover_color {
  width: 50px;
  height: 32px;
  border-radius: 3px;
  margin-bottom: 7px;
  transition: filter .2s ease-in-out;

  &:hover {
    cursor: pointer;
    filter: saturate(85%) brightness(85%);
  }

  &:active {
    filter: saturate(70%) brightness(70%)
  }

  &.active {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0079bf;
    filter: none;

    &:hover {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px #5ba4cf;
      filter: none;
    }

    &:active {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px #055a8c;
      filter: none;
    }
  }
}

/* popover check list */

.popover__checkList_form {
  margin-top: 12px;

  button {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 6px 24px;
    margin-top: 18px;
    background-color: #5aac44;

    &:hover {
      background-color: #61bd4f;
    }

    &:active {
      background-color: #49852e;
    }
  }
}
