/* info */

.modal__card_infos {
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.modal__card_info {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  &:not(:nth-child(1)) {
    margin-top: 25px;
  }
}
.modal__card_info_icon {
  width: 8%;
  display: flex;
  color: #42526e;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}
.modal__card_info_details {
  width: 92%;
  margin-top: 1px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  p {
    font-size: 16px;
    font-weight: 600;
    color: #42526e;
  }

  & > span {
    color: #5e6c84;
    margin-top: 5px;
  }
}
.modal__card_info_details_card_name {
  font-size: 18px !important;
  font-weight: 700 !important;
  cursor: pointer;
  width: 100%;
  line-break: anywhere;
}
.modal__card_info_details_card_name_form {
  width: 100%;

  input {
    width: 100%;
    outline: none;
    border: 2px solid #1152c2;
    border-radius: 3px;
    box-sizing: border-box;
    height: auto;
    padding: 3px 6px;
  }
}

.modal__card_info_details_description {
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 500 !important;
  line-break: anywhere;
}
.modal__card_info_details_button {
  margin-top: 10px;
  width: 100%;
  background-color: rgba(9,30,66,.04);
  color: #172b4d;
  text-align: left;
  padding: 10px 10px 30px 10px;

  &:hover {
    background-color: rgba(9,30,66,.08);
  }

  &:active {
    background-color: #e4f0f6;
    box-shadow: none;
    border: none;
    color: #0079bf;
  }
}
.modal__card_info_details_add {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px 60px 10px;
    outline: none;
    resize: none;
    border-radius: 3px;
    border: none;

    &:focus {
      box-shadow: inset 0 0 0 2px #0079bf;
    }
  }
}
.modal__card_info_details_add_actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
}
.modal__card_info_details_add_actions_save {
  background-color: #5AAC44;
  padding: 8px 10px;
  color: white;

  &:hover {
    opacity: 0.8;
  }
}
.modal__card_info_details_add_actions_close {
  font-size: 24px;
  color: #42526e;
  margin-left: 15px;
  transition: color .3s ease-in-out;

  &:hover {
    color: #172b4d;
  }
}

.modal__card_info_icon_and_details {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.modal__card_info_actions {
  flex-direction: column;
}
.modal__card_info_actions_comment {
  width: 100%;
  display: flex;
  margin-top: 15px;
  align-items: flex-start;
  justify-content: flex-start;
}
.modal__card_info_actions_comment_avatar_container {
  width: 8%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 75%;
  }
}
.modal__card_info_actions_comment_container {
  width: 92%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 8px 12px;
  height: 82px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 8px -2px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
  transition: height .2s ease-in-out;

  &.hide {
    height: 20px;
  }
  
  &.hide textarea:hover {
    cursor: pointer;
  }

  &.hide button {
    display: none;
  }

  textarea {
    width: 100%;
    min-height: 20px;
    font-size: 14px;
    resize: none;
    border: none;
    outline: none;
    padding: 0;
  }

  .modal__card_info_actions_comment_save {
    background-color: #5bac44;
    padding: 8px 10px;
    margin-top: auto;
    color: white;
    margin-left: 0.5px;

    &:hover {
      background-color: #5bac44d2;
    }

    &.disabled {
      cursor: not-allowed;
      user-select: none;
      background-color: rgba(9,30,66,.04);
      color: #a5adba;

      &:hover {
        background-color: rgba(9,30,66,.04);
      }
    }
  }
}
.modal__card_info_actions_comment_comment {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}
.modal__card_info_actions_comment_comment_avatar_section {
  width: 8%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__card_info_actions_comment_comment_info_section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 92%;
  margin-top: 2px;
  line-break: anywhere;
}
.modal__card_comment_time {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.modal__card_comment_time_username {
  color: #172b4d;
  font-weight: 700;
}
.modal__card_comment_created_time {
  font-size: 12px;
  margin-left: 5px;
  font-weight: 500;
  color: #5e6c84;
}
.modal__card_comment_value {
  padding: 12px;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  background-color: #fff;
  border-radius: 3px;
  margin-top: 5px;
}
.modal__card_comment_actions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;

  button {
    font-size: 12px;
    font-weight: 500;
    background-color: transparent;
    text-decoration: underline;
    color: #5e6c84;

    &:hover {
      background-color: transparent;
      color: #172b4d;
    }
  }

  span {
    color: #5e6c84;
  }
}

/* upgrades */

.modal__card_upgrades_menu {
  width: 26%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 41px;
}
.modal__card_upgrades {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal__card_upgrade_heading {
  text-transform: uppercase;
  color: #5e6c84;
  width: 100%;
  font-size: 12px;
  text-align: left;
  font-weight: 700;
}
.modal__card_upgrade_button {
  color: #5e6c84;
  display: flex;
  align-items: center;
  margin-top: 8px;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
  background-color: rgba(9,30,66,.04);
  outline: none;
  border-radius: 3px;
  border: none;

  p {
    margin-left: 10px;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(9,30,66,.08);
  }

  &:active {
    background-color: #e4f0f6;
    color: #0079bf;
  }
}
