/* content */

.ReactModal__Content {
  opacity: 0;
  transform: translateY(47px) scale(0.6);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}
.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(47px) scale(1);
}
.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(47px) scale(0.6);
}

/* overlay */

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0) !important;
  transition: background-color .3s ease-in-out;
}
.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.64) !important;
}
.ReactModal__Overlay--before-close {
  background-color: rgba(0, 0, 0, 0) !important;
}

@media only screen and (max-width: 784px) {
  .ReactModal__Content {
    width: 98% !important;
  }
  .ReactModal__Overlay {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
  }
}

@media only screen and (max-width: 740px) {
  .ReactModal__Content {
    flex-direction: column;
  }
}
