.header {
  background-color:hsla(0,0%,0%,.15);
  padding: 4px;
}
.header__content {
  width: 100%;
  color: white;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.header__section {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.header__section_logo {
  width: 20%;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 80px;
    height: 16px;
    opacity: 0.5;
  }
}

.header__section_links {
  width: 40%;
  justify-content: flex-start;

  button:not(:last-child) {
    margin-right: 4px;
  }
}
.header__links_boards {
  margin-left: 10px;
  margin-right: 2px;
  font-weight: 700;
}

.header__section_account {
  width: 40%;
  justify-content: flex-end;

  button:nth-child(2n) {
    margin: 0 4px;
  }
}
.header__account_button {
  padding: 0 6px;
}
.header__avatar {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .header__links_boards,
  .header__account_info_button {
    display: none;
  }
  .header__section_account {
    button:first-child {
      margin-right: 4px;
    }
  }
}

@media only screen and (max-width: 472px) {
  .header__section_links {
    width: 35%;
  }
}

@media only screen and (max-width: 410px) {
  .header__section_links {
    width: 31%;
  }
  .header__section_account {
    width: fit-content;
  }
}

@media only screen and (max-width: 376px) {
  .header__section_links {
    width: fit-content;
  }
}
