.popover__cover_types {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
}
.popover__cover_subheading {
  margin-top: 7px;
  color: #5e6c84;
  font-weight: 700;
  font-size: 14px;

  &.popover__cover_color_subheading {
    margin-top: 16px;
  }
}
.popover__cover_type {
  border-radius: 3px;
  position: relative;
  width: 130px;
  height: 62px;
  border: 1px solid rgba(9,30,66,.08);

  &:nth-child(2) {
    & > div {
      height: 100%;
      width: 100%;
      opacity: .3;
      position: relative;
    }
  }

  &.active {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0079bf;

    &:hover {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px #5ba4cf;
    }

    &:active {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px #055a8c;
    }
  }
}

.type1__header {
  height: 28px;
  border-radius: 3px 3px 0 0;
  background-color: #5e6c84;
}
.type1__body {
  padding: 6px 4px 4px 6px;
  position: relative;
}
.type1__text1 {
  height: 4px;
  border-radius: 2px;
  width: 98%;
  background-color: #5e6c84;
}
.type1__text2 {
  height: 4px;
  border-radius: 2px;
  width: 75%;
  margin-top: 4px;
  background-color: #5e6c84;
}
.type1__footer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 6px;

  div:nth-child(1),
  div:nth-child(2){
    width: 16px;
    height: 6px;
    border-radius: 2px;
    margin-right: 2px;
    background-color: #5e6c84;
  }
}
.type1__button {
  background-color: #5e6c84;
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  margin: 0;
}

.type2__body {
  position: absolute;
  bottom: 4px;
  padding: 6px 4px 4px 6px;
}
.type2_text1 {
  background-color: #fff;
  opacity: 1;
  width: 116px;
  height: 4px;
  border-radius: 2px;
}
.type2_text2 {
  background-color: #fff;
  opacity: 1;
  width: 92px;
  margin-top: 4px;
  height: 4px;
  border-radius: 2px;
}

.popover__cover_clear {
  margin-top: 8px;
  width: 100%;
  border-radius: 3px;
  padding: 6px 12px;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(9,30,66,.04);
  color: #172b4d;
  line-height: 20px;

  &:hover {
    background-color: rgba(9,30,66,.08);
  }

  &:active {
    color: #0079bf;
    background-color: #e4f0f6;
  }
}

.popover__cover_colors {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 7px;
}
.popover__cover_color {
  width: 50px;
  height: 32px;
  border-radius: 3px;
  margin-bottom: 7px;
  transition: filter .2s ease-in-out;

  &:hover {
    cursor: pointer;
    filter: saturate(85%) brightness(85%);
  }

  &:active {
    filter: saturate(70%) brightness(70%)
  }

  &.active {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0079bf;
    filter: none;

    &:hover {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px #5ba4cf;
      filter: none;
    }

    &:active {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px #055a8c;
      filter: none;
    }
  }
}

/* popover check list */

.popover__checkList_form {
  margin-top: 12px;

  button {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 6px 24px;
    margin-top: 18px;
    background-color: #5aac44;

    &:hover {
      background-color: #61bd4f;
    }

    &:active {
      background-color: #49852e;
    }
  }
}

@media only screen and (max-width: 740px) {
  .modal__close {
    z-index: 2000;
  }

  .modal__card_details {
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
  }
  .modal__card_name_detail_heading {
    width: 86%;
  }
  .modal__card_name_detail_form {
    width: 86%;
  }

  /* menu */

  .modal__card_upgrades_menu {
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 18px;
    padding: 0 12px;
    box-sizing: border-box;
  }
  .modal__card_upgrades {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .modal__card_actions {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .modal__card_upgrade_button {
    width: 49%;
  }
}
